body{
    background-color: #f0f2f7;
    /*margin-bottom: 500px;*/
    font-family:'Roboto', sans-serif !important;
}

header.intro-header{
  height: 400px;
  background-image: url('../img/banner_home_blog_lo1.png');
  background-position: 0px -50px;
}
.transparent{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
}

.intro-header{
    background: center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0px;
}

.intro-header .site-heading {
    padding: 50px 50px 50px;
    color: #fff;
}

.intro-header .site-heading .subheading{
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}

.intro-header h1 {
    margin-top: 0;
    font-size: 50px;
}

hr{
  max-width: 600px;
  border-width: 4px;
  border-color: #512772;
}


a{
  color: #512772;
  text-decoration: none;
  font-family:'Roboto', sans-serif !important;
}
#blog-posts{
    width:100%;
    padding: 50px;
}

#contato{
    background-color: #73358b;
    color: #fff;
    padding: 30px;
}

#contato h1{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

#contato p{
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#contato span{
    font-size:12px;
    color: #fff;
    text-align: center;
}

#contato .submit{
    border-size: 0px;
    border-radius: 0px;
    background-color: #6afac5;
    color: #512772;
}

#cadastro{
    margin-top:-200px;
    margin-bottom:200px;
}

#cadastro-box{
    font-family:'Roboto', sans-serif;
    right:50px;
    position: fixed;
    background-color: #512772;
    color: #fff;
    width: 250px;
    height: 350px;
    z-index: 999;
    padding: 10px 10px 10px 10px;
}

#cadastro-box p {
    color: #fff;
    font-weight: bold;
}
#cadastro-box span {
    color: #fff;
    font-size: 10px;
}

#cadastro-box .submit {
    border-size: 0px;
    border-radius: 0px;
    background-color: #6afac5;
    color: #512772;
}
#logo{
    margin-bottom: -100px;
    width: 250px;
    height: 150px;
    background: url(../img/logo.png) no-repeat;
    background-position-y: 10px;
}

#cadastro-full{
    background-color: #512772;
    color: #f0f2f6;
    padding: 50px;
}

#cadastro-full p {
    color: #fff;
    font-weight: bold;
}
#cadastro-full span {
    color: #fff;
    font-size: 10px;
}

#cadastro-full .submit {
    border-size: 0px;
    border-radius: 0px;
    background-color: #6afac5;
    color: #512772;
}
footer i{
  color: white;
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
  border: 1px solid #512772;
  background-color: #512772;
  margin: 30px 15px;
}
footer i.fa-facebook{
  padding: 10px 15px 10px 15px;
}

.meio{
  max-width: 100px;
  border-width: 4px;
  margin: 10px 0px;
}

.post a:hover{
  color: #6afac5;
  text-decoration: none;
}

.site-heading h1,p{
  color: #512772;
}
#sobre{
    background-color: #73358b;
    color: #fff;
    padding: 30px;
}

#sobre h1{
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

#sobre p{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

#sobre span{
    font-size:12px;
    color: #fff;
    text-align: center;
}


.navbar-default .navbar-nav li a{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.navbar-default .navbar-toggle {
    border-color: #6afac5;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: rgba(106, 250, 197, 0.33);
    background-color: rgba(81, 39, 114, 0.42);
}
.input-field{
    width: 100%;
}

.input-group {
    position: relative;
     display: block;
    border-collapse: separate;
}

@media (max-width: 600px) {
  header.intro-header{
    height: 600px;
    background-image: url('../img/homemobile_lo1.png');
    margin: 0;
    background-position: -250px 0px;
  }

  .site-heading.container{
    padding: 50px 10px;
  }

}
